{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel= "stylesheet" href= "{% static 'stylesheets/style.css' %}"/>
  <style>
    
      body {
        background-image: url('static/images/.png');
        background-color:lightblue;
        background-attachment:fixed;
        background-size:cover;
        background-repeat:no-repeate;
      }
  </style>

</head>

<body>
  
  <div  class="container-fluide p-2 bg-info text-center shadow-lg p-3 mb-5 bg-body rounded">
    <img src="{% static 'images/logo282.png'%}" style="float:left" width='100px' alt="image not found"/>
    <img src="{% static 'images/logo292.png'%}" style="float:right" width='100px' alt="image not found"/>
    <!--<img src="{% static 'images/423.png'%}" width='300px' alt="image not found"/>
    --><h1>S.K.R.GOVERNMENT JUNIOR COLLEGE,GUDUR</h1>
   </div>
  
  
  
  
  <nav class="navbar navbar-expand-sm bg-dark shadow-lg p-1 mb-5 bg-body rounded">

    <div class="container-fluide">
      <!-- Links -->
      <ul class="navbar-nav">
  
        &nbsp;<li class="nav-item">
              <a class="nav-link" href="#"><span class="glyphicon glyphicon-home"></span>&nbsp;Home</a>
              </li>
  
        &nbsp;<li class="nav-item">
              <a class="nav-link" href="#"><span class="glyphicon glyphicon-user"></span>&nbsp;User</a>
              </li>
  
        &nbsp;<li class="nav-item">
              <a class="nav-link" href="#"><span class="glyphicon glyphicon-user"></span>&nbsp;About Us</a>
              </li>
        
        &nbsp;<li class="nav-item">
              <a class="nav-link" href="/ad/new">Admission Form</a>
              </li>
        
        &nbsp;<li class="nav-item">
              <a class="nav-link" href="/ad/report">Admission Report</a>
              </li>
      </ul>
  
      <ul class="navbar-nav">
        &nbsp;<li class="nav-item">
              <a class="nav-link" href="/ad/insertteacher">Teacher Form</a>
              </li>
        
        &nbsp;<li class="nav-item">
              <a class="nav-link" href="/ad/teacherlist">Teacher List</a>
              </li>
  
        &nbsp;<li class="nav-item">
              <a class="nav-link" href="/ad/insertcaretaker">Caretaker Form</a>
              </li>
  
        &nbsp;<li class="nav-item">
              <a class="nav-link" href="/ad/caretakerlist">Caretaker List</a>
              </li>

        &nbsp;<li class="nav-item">
              <a class="nav-link" href="/ex/insertmarks">Marks Form</a>
              </li>
  
        &nbsp;<li class="nav-item">
              <a class="nav-link" href="/ex/markslist">Marks List</a>
              </li>
      </ul>
  
      <ul class="navbar-nav">
        &emsp;<li class="nav-item">
              <a class="nav-link" href="/fin/feecoll">Fee Collection</a>
              </li>
        <li class="nav-item">
          <a class="nav-link" href="/fin/feecolldue">Fee Collection Due</a>
        </li>
        
        &emsp;<li class="nav-item">
          <a class="nav-link" href="/fin/feecollreport">Fee Report</a>
        </li>
  
        &emsp;<li class="nav-item">
          <a class="nav-link" href="/accounts/logout"><span class="glyphicon glyphicon-user"></span> &nbsp;logout</a>
        </li>
      </ul>
    </div>
  </nav>



<br>
<!-- Carousel -->
<div style = "margin-left:100px" id="demo" class="carousel slide" data-bs-ride="carousel">

  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="5"></button>
    
  </div>
  
  <!-- The slideshow/carousel -->
  
  <div class="carousel-inner style="float:left">
    
    <div class="carousel-item active">
      <img src="static/images/18.jpg" class="img-thumbnail" width="10%" height="50%" alt="atmo1" class="d-sm-block">
    </div>
    
    <div class="carousel-item">
      <img src="static/images/17.jpg" class="img-thumbnail" width="10%" height="50%" alt="atmo2" class="d-sm-block">
    </div>
    
    <div class="carousel-item">
      <img src="static/images/12.jpg" class="img-thumbnail" width="10%" height="50%" alt="green" class="d-sm-block">
    </div>
    
    <div class="carousel-item">
      <img src="static/images/10.jpg" class="img-thumbnail" width="10%" height="50%" alt="green1" class="d-sm-block">
    </div>
    
    <div class="carousel-item">
      <img src="static/images/14.jpg" class="img-thumbnail" width="10%" height="50%" alt="green2" class="d-sm-block">
    </div>
    
    <div class="carousel-item">
      <img src="static/images/11.jpg" class="img-thumbnail" width="10%" height="50%"  alt="green3" class="d-sm-block">
    </div>


    </div>
  
  <!-- Left and right controls/icons -->
  <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>

<br><br>

<div style = "margin-left:100px" id="demo" class="carousel slide" data-bs-ride="carousel">

  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="5"></button>
    
  </div>
  
  <!-- The slideshow/carousel -->
  
  <div class="carousel-inner style="float:right">
    
    <div class="carousel-item active">
      <img src="static/images/18.jpg" class="img-thumbnail" width="10%" height="50%" alt="atmo1" class="d-md-block">
    </div>
    
    <div class="carousel-item">
      <img src="static/images/17.jpg" class="img-thumbnail" width="10%" height="50%" alt="atmo2" class="d-md-block">
    </div>
    
    <div class="carousel-item">
      <img src="static/images/12.jpg" class="img-thumbnail" width="10%" height="50%" alt="green" class="d-md-block">
    </div>
    
    <div class="carousel-item">
      <img src="static/images/10.jpg" class="img-thumbnail" width="10%" height="50%" alt="green1" class="d-md-block">
    </div>
    
    <div class="carousel-item">
      <img src="static/images/14.jpg" class="img-thumbnail" width="10%" height="50%" alt="green2" class="d-md-block">
    </div>
    
    <div class="carousel-item">
      <img src="static/images/11.jpg" class="img-thumbnail" width="10%" height="50%"  alt="green3" class="d-md-block">
    </div>


    </div>
  
  <!-- Left and right controls/icons -->
  <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>







</body>
</html>
